<h1 class="pb-4">Explore Categories</h1>

<!-- This breadcrumb is taken from bootstrap -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
    <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
  </ol>
</nav>

<!-- This is the same for each loop that we are applying in the index.ejs category section  -->
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4">
  <% if(typeof categories !== 'undefined' && categories.length > 0) { %>
    <% categories.forEach(function(category, index) { %>
      <a href="/categories/<%- category.name %>" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="/img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%- category.name %></div>
      </a>
    <% }) %>
  <% } %>
</div>


<!-- This is in order to get the recipes in the category section like we are getting in the homepage -->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
        
  <% if(typeof categoryById !== 'undefined' && categoryById.length > 0) { %>
      <% categoryById.forEach(function(recipe,index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
          <div class="category__img category__img--large shadow">
              <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
          </div>

          <div class="pt-1"><%= recipe.name %></div>
      </a>
      <% }) %>
      <% } else { %>
          <p>No items found!</p>
  <% } %>

</div>